<figure{% if include.class %} class="{{ include.class }}"{% endif %}{% if include.max-width %} style="--figure-width: {{ include.max-width }};"{% endif %}>
  {% if include.url %}<a href="{{ include.url }}">{% endif %}
    <img src="{{ include.src }}" alt="{{ include.alt | default: '' | escape }}"{% if include.width %} width="{{ include.width }}"{% endif %}{% if include.height %} height="{{ include.height }}"{% endif %} loading="lazy" decoding="async">
  {% if include.url %}</a>{% endif %}
  {% if include.caption %}<figcaption>{{ include.caption }}</figcaption>{% endif %}
</figure>
