---
layout: post
---

{{ title }}

{{ content }}

<h2>Table of Contents</h2>
<ul>
{% for book in page.books %}
    <li><a href="#{{ book.title | slugify }}">{{ book.title }}</a></li>
{% endfor %}
</ul>
<hr>

<small>The links below are Amazon affiliate links. Purchasing any of these books helps fund more posts like these.</small>

<div class="review">
{% if page.books %}
{% for book in page.books %}
    <div class="review-book" id="{{ book.title | slugify }}" >
        {% if book.img %}
        <figure>
            <a href="{{ book.amazon }}" title="Amazon: {{ book.title }}"><img src="/img/posts/{{ page.img-folder }}/{{ book.img }}" alt="{{ book.title }}"></a>
            <figcaption>{{ book.caption }}</figcaption>
        </figure>
        {% endif %}
        <strong><a href="{{ book.amazon }}" title="Amazon: {{ book.title }}">{{ book.title }}</a></strong><br>
        <small>{{ book.author }}, {{ book.year }}</small><br>
        {% if book.review %}{{ book.review | markdownify }}{% endif %}
    </div>
    <hr style="clear: both; margin: 30px 0;">
{% endfor %}
{% else %}
    <p>The book list is empty!</p>
{% endif %}
</div>

{% include disclosure.html %}